/* descendant_combinator.css */

.jokes>p {
    font-size: 14px;
    color: aqua;
}

a+button {
    background-color: greenyellow;
}

section h3::first-letter {
    font-size: xx-large;
}

section h3::after {
    content: '*';
}

section p::first-line {
    color: red;
}