/* selector.css */

* {
    background-color: #F3F8FF;
}

h1,
h2,
h3 {
    color: #49108B;
    background-color: #E26EE5;
    font-size: smaller;
}

span {
    color: #E26EE5;
}

#list2 {
    color: #49108B;
}

.mark {
    background-color: #7E30E1;
}